$btn-color1:#BFA483;
$btn-color2:#B12A2A;
$slide-color:#882424;
$secondary-color:#F6F6F6;
$text-main:#000;
$text-secondary:#828282;
$bg-before:#e2e2e2;
$mega-text:#868686;
$span-color:#ff4a4a;
$white:#fff;
$border:#ddd;
$border2:#e1e1e1;
$border3:#dadada;
$border4:#eee;
$second-font: Open Sans,sans-serif;